@include b(input){
  position: relative;
  font-size: $--font-size-base;
  width: 100%;
  display: inline-block;
  @include scroll-bar;

  @include e(inner){
    // background: green;
    -webkit-appearance: none;
    background-color: $--input-background-color;
    background-image: none;
    border-radius: $--input-border-radius;
    border: $--input-border;
    box-sizing: border-box;
    color: $--input-font-color;
    display: inline-block;
    font-size: inherit;
    height: $--input-height;
    line-height: $--input-height;
    outline: none;
    padding: 0 15px;
    transition: $--border-transition-base;
    width: 100%;
     &::placeholder{
       color: $--input-placeholder-color
     }
     &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  // 后置图标
  @include e(suffix){
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
    // pointer-events: none;
  }

  // 前置图标
  @include e(prefix) {
    position: absolute;
    height: 100%;
    left: 5px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
  }

  // 前置后置icon样式
  @include e(icon) {
    height: 100%;
    width: 25px;
    text-align: center;
    transition: all .3s;
    line-height: $--input-height;

    &:after {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  // 计算
  @include e(count){
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: $--color-info;
    font-size: 12px;
  }

  @include e(count-inner){
    background-color: $--color-white;
    line-height: initial;
    display: inline-block;
    padding: 0 5px;
  }


  @include m(prefix){
    @include e(inner){
      padding-left: 30px;
    }
  }
}

@include b(textarea){
  @include scroll-bar;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;

  @include e(inner){
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: $--input-font-color;
    background-color: $--input-background-color;
    background-image: none;
    border: $--input-border;
    border-radius: $--input-border-radius;
    transition: $--border-transition-base;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  @include e(count){
    color: $--color-info;
    background: $--color-white;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 10px;
  }
}

@include b(input-group){
  display: flex;
  @include e((prepend, append)){
    background-color: $--background-color-base;
    color: $--color-info;
    // vertical-align: middle;
    position: relative;
    border: $--border-base;
    border-radius: $--input-border-radius;
    // padding: 0 20px;
    // width: 1px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    .zz-select,
    .zz-button {
      display: inline-block;
      // margin: -10px -20px;
    }

    button.zz-button,
    div.zz-select .zz-input__inner,
    div.zz-select:hover .zz-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
    }

    .zz-button,
    .zz-input {
      font-size: inherit;
    }
  }
  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include m(prepend) {
    .zz-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .zz-select .zz-input.is-focus .zz-input__inner {
      border-color: transparent;
    }
  }

  @include m(append) {
    .zz-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .zz-select .zz-input.is-focus .zz-input__inner {
      border-color: transparent;
    }
  }
}